.repository_wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 40px;
  padding: 10px 30px;
  border: 1px solid gray;
  border-radius: 16px;
}

.star_language_wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}